.bg{
    background-image: url("./assesst/hero background.jpg");
    background-size: cover;
}
 .logos{
   
   
    padding: 60px 0 ;
    background: white;
 }
 .logos-slide{
    white-space: nowrap;
    animation: slide 20s linear infinite;
 }
 .logos-slide img {
    height: 70px;
    outline-color: aqua;
 } 
 @keyframes slide{
0%{
    transform: translateX(0);
}
100%{
    transform: translateX(-100%);
}
 }


